In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    {"a" : [4, 5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [4]:
df[["b","c"]]

   b   c
1  7  10
2  8  11
3  9  12

In [5]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [6]:
df.loc[[2,3]]

   a  b   c
2  5  8  11
3  6  9  12

In [7]:
df.loc[1,"b"]

7

In [8]:
df.loc[[3,2],["a","b"]]

   a  b
3  6  9
2  5  8

In [9]:
df = pd.DataFrame(
      [[4, 7, 10],
       [5, 8, 11],
       [6, 9, 12]],
      index=[1, 2, 3],
      columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12