In [5]:
import pandas as pd

>pandas 를 import 하고 ps 라는 단축어로 사용
---

In [19]:
friends_list = [['name',[ 'Jone','Jenny', 'Nate']], 
                ['age', [20, 30, 30]], 
                ['job', ['student', None,'teacher']]
]

In [26]:
df = pd.DataFrame.from_dict(dict(friends_list))

>pd.DataFrame.from_items(friends_list) \
>Construct a dataframe from a list of tuples (Deprecated since version 0.23.0)
---

In [24]:
df

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher