In [ ]:
import pandas as pd

>pandas 를 import 하고 ps 라는 단축어로 사용
---


## pd.core.series.Series()

### Series 는 Python 의 list 로 만든다.

In [ ]:
# pd.core.series.Series 에서 core.series 가 뭔가요?

In [ ]:
s1 = [1 ,2 ,3]
s2 = [4, 5, 6]
s3 = [7, 8, 9]
s4 = ['one', 'two', 'three']
s5 = ['하나', '둘', '셋']

In [ ]:
pd.core.series.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

>Series 생성 - value 1, 2, 3 을 갖는 list 로 \
>Series 생성시 pd.core.series.Series(Columns) 이와 같이 명령문 입력시 index 는 0부터 자동 생성
---

In [ ]:
pd.core.series.Series(s1)

0    1
1    2
2    3
dtype: int64

>Series 생성 - value 1, 2, 3 을 갖는 list s1 로   \
>Series 생성 시 pd.core.series.Series(Columns) 이와 같이 명령문 입력시 index 는 0부터 자동 생성
---

In [ ]:
pd.core.series.Series([s1,s2,s3])

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

>Series 생성 - value 로 list s1, list s2, list s3 을 갖는 list 로 \
>Series 생성 시 pd.core.series.Series(Columns) 이와 같이 명령문 입력시 index 는 0부터 자동 생성
---

In [ ]:
pd.core.series.Series([1,2,3],s4)

one      1
two      2
three    3
dtype: int64

>Series 생성 pd.core.series.Series(Columns, index)
---

In [ ]:
pd.core.series.Series(s2,s4)

one      4
two      5
three    6
dtype: int64

>Series 생성 pd.core.series.Series(Columns, index)
---

In [ ]:
pd.core.series.Series([s1,s2,s3],s4)

one      [1, 2, 3]
two      [4, 5, 6]
three    [7, 8, 9]
dtype: object

>Series 생성 pd.core.series.Series(Columns, index)
---

---
## pd.DataFrame()

In [ ]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3

>DataFrame 생성 - value 1, 2, 3 을 갖는 list 로   \
>DataFrame 생성 시 pd.DataFrame(Columns) 이와 같이 명령문 입력시 Column과 index 는 0부터 자동 생성
---

In [ ]:
pd.DataFrame(s1)

   0
0  1
1  2
2  3

>DataFrame 생성 - value 1, 2, 3 을 갖는 list s1 로   \
>DataFrame 생성 시 pd.DataFrame(Columns) 이와 같이 명령문 입력시 Column과 index 는 0부터 자동 생성
---

In [ ]:
pd.DataFrame([s1,s2,s3])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

>DataFrame 생성 - value 로 list s1, list s2, list s3 을 갖는 list 로   \
>DataFrame 생성 시 pd.DataFrame(Columns) 이와 같이 명령문 입력시 Column과 index 는 0부터 자동 생성
---

In [ ]:
pd.DataFrame(s1,s4)

       0
one    1
two    2
three  3

>DataFrame 생성 시 pd.DataFrame(Columns, index)
---

In [ ]:
pd.DataFrame([1,2,3],s4)

       0
one    1
two    2
three  3

>DataFrame 생성 시 pd.DataFrame(Columns, index)
---

In [ ]:
pd.DataFrame([s1,s2,s3],s4)

       0  1  2
one    1  2  3
two    4  5  6
three  7  8  9

>DataFrame 생성 시 pd.DataFrame(Columns, index)
---

In [ ]:
pd.DataFrame([s1,s2,s3],s4,s5)

       하나  둘  셋
one     1  2  3
two     4  5  6
three   7  8  9

>DataFrame 생성 시 pd.DataFrame(Columns, index, Column)
---

## pd.DataFrame(dict(), index)

In [61]:
pd.DataFrame(dict(S1=s1))

   S1
0   1
1   2
2   3

>DataFrame 생성 시 pd.DataFrame(dict()) \
>DataFrame 생성 시 pd.DataFrame(dict()) 이와 같이 명령문 입력시 Column 은 dictionary 의 key 값으로 생성, index 는 0부터 자동 생성
---

In [65]:
pd.DataFrame(dict(S1=[1,2,3], S2=[4,5,6], S3=[7,8,9]))

   S1  S2  S3
0   1   4   7
1   2   5   8
2   3   6   9

In [62]:
pd.DataFrame(dict(S1=s1, S2=s2, S3=s3))

   S1  S2  S3
0   1   4   7
1   2   5   8
2   3   6   9

>DataFrame 생성 시 pd.DataFrame(dict()) \
>DataFrame 생성 시 pd.DataFrame(dict()) 이와 같이 명령문 입력시 Column 은 dictionary 의 key 값으로 생성, index 는 0부터 자동 생성
---

In [64]:
pd.DataFrame(dict(S1=s1, S2=s2, S3=s3),s4)

       S1  S2  S3
one     1   4   7
two     2   5   8
three   3   6   9

>DataFrame 생성 시 pd.DataFrame(dict(),index) \
>DataFrame 생성 시 pd.DataFrame(dict(),index) 이와 같이 명령문 입력시 Column 은 dictionary 의 key 값으로 생성, index 는 index list 로 생성
---