In [1]:
import pandas as pd

In [2]:
import numpy as np

# 1. Object Creation (객체 생성)

데이터 구조 소개 섹션을 참조하세요.

Pandas는 값을 가지고 있는 리스트를 통해 Series를 만들고, 정수로 만들어진 인덱스를 기본값으로 불러올 것입니다.

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

datetime 인덱스와 레이블이 있는 열을 가지고 있는 numpy 배열을 전달하여 데이터프레임을 만듭니다.

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  0.259207 -0.402366  2.068287 -0.749822
2013-01-02 -1.414090 -0.117894 -1.348505 -0.953318
2013-01-03 -1.528181 -0.295041  0.434120  1.036352
2013-01-04 -0.200287 -2.371387 -0.823067 -0.025731
2013-01-05  0.007034 -1.777319 -0.342298  0.179563
2013-01-06 -0.386366 -1.242896  1.070387 -0.917806

Series와 같은 것으로 변환될 수 있는 객체들의 dict로 구성된 데이터프레임을 만듭니다.

In [9]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

데이터프레임 결과물의 열은 다양한 데이터 타입 (dtypes)으로 구성됩니다.

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

IPython을 이용하고 계시다면 (공용 속성을 포함한) 열 이름에 대한 Tap 자동완성 기능이 자동으로 활성화 됩니다. 다음은 완성될 속성에 대한 부분집합 (subset)입니다.

역자 주 : 아래 제시된 코드의 경우, IPython이 아닌 환경 (Google Colaboratory, Jupyter 등)에서는 사용이 불가능한 코드인 점에 주의하세요.

In [12]:
# df2.<TAB>

역자 주 : IPython에서 실행하면 다음과 같은 결과값이 나옵니다.

In [13]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

df2.abs

df2.add

df2.add_prefix

df2.add_suffix

df2.align

df2.all

df2.any

df2.append

df2.apply

df2.applymap

In [17]:
df2.B

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[ns]

df2.bool

df2.boxplot

In [14]:
df2.C

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

df2.clip

df2.clip_lower

df2.clip_upper

In [15]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

df2.combine

df2.combine_first

df2.compound

df2.consolidate

In [16]:
df2.D

0    3
1    3
2    3
3    3
Name: D, dtype: int32

보시다시피 A, B, C, D열이 탭 자동완성 기능으로 실행됩니다. 물론 E도 있습니다. 나머지 속성들은 간결하게 잘라 버렸습니다.