In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
df = pd.DataFrame(
    {"a" : [4, 5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1,2,3])

In [13]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [24]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [1]:
df["a",1]

NameError: name 'df' is not defined

In [19]:
df[["b","c"]]

   b   c
1  7  10
2  8  11
3  9  12

In [30]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [31]:
df.loc[1,"b"]

7

In [23]:
df.loc[[2,3]]

   a  b   c
2  5  8  11
3  6  9  12

In [7]:
s = pd.Series([1,3,5,np.nan,6,8])

In [8]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -1.073340 -0.955362  0.441396 -0.215960
2013-01-02  0.490889 -0.535738 -0.864208 -1.056141
2013-01-03 -0.342307  0.665253 -1.533925 -0.430483
2013-01-04  0.853809 -1.635860 -0.481072 -0.554445
2013-01-05 -1.639088 -0.245509  0.707931  0.490683
2013-01-06 -0.895508 -1.134602 -0.360669  0.631971