In [ ]:
import pandas as pd

In [ ]:
friends_list = [
            ['name',[ 'Jone','Jenny', 'Nate']],
            ['age', [20, 30, 30]]],
            ['job', ['student', None,'teacher']]
          ]

In [ ]:
df = pd.DataFrame.from_items(friend_list)

In [ ]:
>