In [1]:
import pandas as pd

In [2]:
friends = [{'name': 'Jone', 'age': 20, 'job': 'student'},
           {'name': 'Jenny', 'age': 30, 'job': None},
           {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends)
df = df[['name','age','job']] # 이미 위 자료에 들어있는 정보

In [3]:
df

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [4]:
df.to_csv('friends.csv')

>index = True, header = True 는 Default 값으로 자동 생성 \
>df.to_csv('friends.csv') = df.to_csv('friends.csv', index = True, header = True)
---

In [5]:
df.to_csv('friends_index_False.csv', index = False, header = True)

In [6]:
df.to_csv('friends_header_False.csv', index = True, header = False)

In [7]:
df.to_csv('friends_index,header_False.csv', index = False, header = False)

>index(row name), header(column name) 삽입, 제거
---

In [10]:
df.to_csv('friends_False_index_False_None.csv', index = False, header = False, na_rep = 'inoccupation')

>na_rep = 'inoccupation' \
>저장된 *.csv 파일에서 비어있는 자리에 'inoccupation' 삽입
---